<a href="https://colab.research.google.com/github/jeenu-chacko/Python-Basics/blob/master/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**
List is a collection

1.mutable

2.ordered (use indexes)

3.allows duplicates

4.dynamic

5.supports any data types

In [ ]:
f_list=[] #empty list 

for i in range(1,6):
  f_list.append(i)  

print(f_list)

[1, 2, 3, 4, 5]

In [ ]:
strlist = ['Python','Java','C++']
print(strlist)

floatlist = [2.3,1.33,14.8,14.8]   #allows duplicates
print(floatlist)

mixed_list=['python',7,'c++',8.9,True] # mixed list
print(mixed_list)

# **Slicing**

In [ ]:
first_list=['2','hello',5,9]
print(first_list[1])
print(first_list[0:3:1])
print(first_list[0:3:2]) 
print(first_list[::3]) #default step is 1

hello
['2', 'hello', 5]
['2', 5]
['2', 9]

# **Extend**

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5]
print(list_1)
list_1.extend(list_2)
print("list after extending list 2",list_1)

list_2 = list_1+list_2
print(list_2)

[1, 2, 3]
list after extending list 2 [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 4, 5]

# **Append**

In [ ]:
f_list=[]
for i in range(1,6):
  f_list.append(i)

print(f_list)

[1, 2, 3, 4, 5]

# **Insert**

In [ ]:
list_f=[1,0]
list_f.insert(1,6)
print("list 2 after inserting element 6 at index 1:",list_f)

list_f.insert(3,4)
print(list_f)

list_f.insert(6,7)
print(list_f)

list 2 after inserting element 6 at index 1: [1, 6, 0]
[1, 6, 0, 4]
[1, 6, 0, 4, 7]

# **Removing elements from list**

In [ ]:
list_f = ["hai", 2, "c"]
list_f.remove("hai")
print(list_f)

[2, 'c']

popping from list

removes an element and returns it

In [ ]:
list_f = list((0,1,2,3))
print(list_f)

[0, 1, 2, 3]

In [ ]:
p = list_f.pop()
print(p)

3

# **Copy**

In [ ]:
list1 = ['hai','hello']
list2 = list1.copy()
print("list 1",list1)
print("list 2",list2)

list 1 ['hai', 'hello']
list 2 ['hai', 'hello']

# **Reversing and sorting lists**

In [ ]:
list1=[4,5,3,2,1]
print("list 1",list1)

list1.reverse()
#reversed list
print("reversed list",list1)

list1.sort()
#sorted list
print("sorted list",list1)

list 1 [4, 5, 3, 2, 1]
reversed list [1, 2, 3, 5, 4]
sorted list [1, 2, 3, 4, 5]

# **Split & Join**

In [ ]:
str = "hello world"
list_1 = str.split(' ')
print("splitting at whitespace:",list_1)


list_2 = str.split('o')
print("splitting at o",list_2)

splitting at whitespace: ['hello', 'world']
splitting at o ['hell', ' w', 'rld']

In [ ]:
print(" ".join(list_1))

hello world

In [ ]:
print('o'.join(list_2))

hello world

# **List Comprehension**

In [ ]:
list_f = [i for i in range (0,6)]
print(list_f)
list_s = [i*2 for i in list_f]
print(list_s)

list_2d = [[i*2 for i in list_f] for j in range(2)]
print(list_2d)

[0, 1, 2, 3, 4, 5]
[0, 2, 4, 6, 8, 10]
[[0, 2, 4, 6, 8, 10], [0, 2, 4, 6, 8, 10]]

In [ ]:
# Transpose of matrix

matrix_1 = [[1,2],[3,4],[5,6]]

print([[row[i] for row in matrix_1] for i in range(2)])


matrix_2 = [[1,2,3],[4,5,6],[7,8,9]]
print([[row[i] for row in matrix_2] for i in range(3)])

[[1, 3, 5], [2, 4, 6]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# **Zip**

In [6]:
name = ['A','B','C']
mark = [9,10,8]
print(list(zip(name,mark)))

[('A', 9), ('B', 10), ('C', 8)]

In [19]:
for i,j in zip(name,mark):
  print("{} {}".format(i,j))

A 9
B 10
C 8

# **Tricks**

In [ ]:
#Reversing Strings using list slicing
list1 = ["a","b","c","d"]
print(list1[::-1])

# Reversing Numbers
list2 = [1,3,6,4,2]
print(list2[::-1])

List = [1,2,3]
w, v, t = List
print(v, w, t )