<a href="https://colab.research.google.com/github/jeenu-chacko/Python-Basics/blob/master/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SET**

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets

In [2]:
#empty set
s1= {}
set_1 = {'a','b','c',1}

for x in set_1:
  print(x)

b
1
a
c

Appending the set

In [3]:
set_1.add(5)
print(set_1)

{1, 'b', 5, 'a', 'c'}

Checking the set

In [7]:
print(0 in set_1)
print("d" not in set_1)

False
True

How to add multiple items to a set??

In [9]:
set_1.update(["D",'F',"a",1])
print(set_1)

{1, 'b', 'D', 5, 'a', 'c', 'F'}

In [15]:
test={1,4,(3,1,4),1}
test.discard(1)
print(test)
x=test.pop() 
print(x)
print(test)
test.clear()
print(test)

{4, (3, 1, 4)}
4
{(3, 1, 4)}
set()

In [19]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2) )

print(set1^set2)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}